.btn{
    padding: 15px 20px;
    background-color: transparent;
    text-decoration: none;
    border:none;
    border-radius: 80px;
    background-color: white;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-align: center;
    user-select: none;
}