


.contact{
    background: url("../../assets/image/contact-back-grad.png") no-repeat center;
    background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
    .contactSection{
        display: flex;
        padding-top: 20px;
        padding-bottom: 70px;
        min-height:963px;
        
        margin-bottom: 30px;
    }
    .contact{
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        background: url("../../assets/image/contact-back-grad@mobile.png") no-repeat center;
        background-size: 100% 100%;
        &__content{
            padding: 10px 40px 40px 20px;
        }
        &__title{
            font-weight: 800;
            font-size: 40px;
        }

        &__description{
            font-weight: 600;
            font-size: 24px;
            line-height: 35px;
        }

        &__form{
            margin-top: auto;
            margin-bottom: -3px;
            min-height: 300px;
            display: flex;
            bottom: 0;
            
            flex-direction: column;
            width: 100%;
            // flex-shrink: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.79%, rgba(255, 255, 255, 0.024) 123.08%), #000000;
            backdrop-filter: blur(120px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 30px;
            padding: 30px;
            &--open{
                overflow: hidden;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                animation: heightSlowOpen .3s ease;
            }
            &__start{
                display: flex;
                flex-direction: column;
                // height: 100vh;
                
                &__title{
                    font-weight: 800;
                    font-size: 45.7399px;
                    line-height: 57px;
                    margin: 0;
                }

                &__description{
                    font-weight: 400;
                    font-size: 22.87px;
                    line-height: 31px;
                    margin: 40px 0; 
                }
            }
            
            &__fields{
                // position: absolute;
                height: 100%;
            }

            &__successfully{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // align-items: center;
                &::before{
                    content: "";
                    width:75px ;
                    margin: auto;
                    margin-bottom: 20px;
                    height:75px ;
                    background: url("../../assets/image/success.svg") no-repeat;
                }
                &__title{
                    font-size: 40px;
                    font-weight: 800;
                    margin: 10px 0;

                    margin-bottom: 15px;
                }
                &__desc{
                    font-size: 22.87px;
                    margin-bottom: auto;
                }

                &__btn{
                    color: #219653!important;
                }

            }
            

            &__inputs{
                display: flex;
                height: 100%;
                flex-direction: column;

                &__input{
                    margin: 10px 0;
                }
                &__btn{
                    margin-top: auto;
                }
            }
        }
    }

    @keyframes  heightSlowOpen{
        from {
            height: 396px;
        }
        to{
            height: 100%;
        }
    }

    @keyframes  heightSlowClose{
        from {
            height: 100%;
        }
        to{
            height: 396px;
        }
    }
}


@media screen and (min-width: 768px) {
    .contactSection{
    display: flex;
    padding-top: 20px;
    padding-bottom: 70px;
}
    .contact{
    color: white;
    display: flex;
    // border-radius: 30px;
    
        &__content{
            padding: 0px 40px 40px 60px;
        }
        &__title{
            font-weight: 800;
            
            font-size: 27px;
        }

        &__description{
            
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }

        &__form{
            display: flex;
            flex-direction: column;
            width: 248.93px;
             margin-right: -10px;
             
            flex-shrink: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.79%, rgba(255, 255, 255, 0.024) 123.08%), #000000;
            backdrop-filter: blur(120px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 30px;
            padding: 20px;
            &__successfully{
                height: 100%;
                display: flex;
                flex-direction: column;
                // align-items: center;
                &::before{
                    content: "";
                    width:75px ;
                    margin: auto;
                    height:75px ;
                    background: url("../../assets/image/success.svg") no-repeat;
                }
                &__title{
                    font-size: 22.33px;
                    font-weight: 800;
                    margin: 10px 0;
                    margin-bottom: 15px;
                }
                &__desc{
                    font-size: 11.16px;
                }

                &__btn{
                    color: #219653!important;
                    margin-top: auto;
                }

            }
            &__start{
                height: 100%;
                display: flex;
                flex-direction: column;
                &__title{
                    font-weight: 800;
                    font-size: 22.3256px;
                    margin: 0;
                    line-height: 28px;
                }

                &__description{
                    font-weight: 400;
                    font-size: 11.1628px;
                    line-height: 15px;
                    margin: 10px 0; 
                }
                &__btn{
                    margin-top: auto;
                    font-size: 8.93px;
                }
            }
            &__inputs{
                display: flex;
                flex-direction: column;

                &__input{
                    margin: 5px 0;
                }
                
                & .contact__form__start__title, & .contact__form__start__description{
                    display: none;
                }
            }
        }
    }

}


@media screen and (min-width: 992px) {
    .contact{
        
        &__title{
            font-size: 35px;
            line-height: 55px;
        }
        &__description{
            font-size: 22px;
        }

        &__content{
            padding: 0px 10px 40px 70px;
        }
        &__form{
            padding: 30px;
            margin-right: -10px;
            width: 330px;
            border-radius: 30px;
            &__start{
                &__title{
                    font-weight: 800;
                    font-size: 30px;
                    line-height: 35px;
                }

                &__description{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    margin: 20px 0; 
                }
                &__btn{
                    margin-top: 13px;
                }
            }
            &__successfully{    
                &__title{
                    font-size: 40px;
                }
                &__description{
                    size :20px;
                }
            }
            &__inputs{
                
                &__input{
                    margin: 10px 0;
                }
                &__btn{
                    margin-top: 30px;
                }
            }
        }
    }
}


@media screen and (min-width: 1140px) {
    .contact{
        
        &__title{
            font-size: 40px;
            line-height: 55px;
        }
        &__description{
            font-size: 28px;
            line-height: 35px;
        }

        &__content{
            
        }
        &__form{
            padding: 30px;
            height: 100%;
            width: 400px;
            &__fields{
                height: 100%;
            }
            &__start{
                &__title{
                    font-weight: 800;
                    font-size: 40px;
                    line-height: 50px;
                }

                &__description{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    margin: 40px 0; 
                }
                &__btn{
                    font-size: 16px;
                }

            }
            &__successfully{    
                &__title{
                    font-size: 40px;
                }
                &__description{
                    size :20px;
                }
                &__btn{
                    font-size: 16px;
                }
            }
            &__inputs{
                height: 100%;
                &__input{
                    margin: 10px 0;
                }
                &__btn{
                    margin-top: auto;
                    font-size: 16px;
                }
            }
        }
    }
}