.container{
   max-width: 1440px;
   width: 100%;
}

@media screen and (max-width: 540px){
  .container{
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media screen and (min-width: 540px){
  .container{
   
    margin: auto;
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media screen and (min-width: 768px) {
  .container{
    padding-left:37px;
    padding-right:37px;
  }
}
@media screen and (min-width: 992px) {
  .container{
    padding-left:63px;
    padding-right:63px;
  }
}


@media screen and (min-width: 1140px) {
  .container{
    padding-left:85px;
    padding-right:85px;
  }
}

.main{
  display: flex;
  flex-direction: column;
  width:100%;
  background:url("./assets/image/main-mask.png") no-repeat;
  background-size: 100% 100%;
  background-position: top 0px right 0px;
}

